.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-gallery-slide img {
  width: 100%;
  height: 300px;
}

#yourContainer {
  width: 430px;
  height: 200px;
}

#yourContainer img {
  max-width: 100%;
  max-height: 100%;
}

.top-buffer { margin-top:10px; }

.card-header a {
  color: red;
}

/* The button and the glitch */
button, button::after {
  width: 380px;
  height: 86px;
  font-size: 24px !important;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'AVAILABLE NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}




/*-- Photo Gallery CSS --*/
#photo-gallery {
  padding: 40px 0px 40px;
}
#photo-gallery .state-thumb {
  max-height: 170px;
  overflow: hidden;
  border-radius: 10px;
}
#photo-gallery .state-thumb img {
  width: 100%;
  transition: 0.5s;
}
#photo-gallery .photo-frame:hover img{
  transform: scale(1.3, 1.3);

}
#photo-gallery h4 {
  margin: 10px 0px 0px;
  text-align: right;
}
#photo-gallery h4 a {
  color: #9c27b0;
  font-size: 20px;
}
#photo-gallery .photo-frame {
  border: 1px solid #cecece;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: 0.3s;
  background-color: #fff;
}
#photo-gallery .photo-frame:hover {
  box-shadow: 0px 0px 15px 0px #d0d0d0;
  border-color: #9c27b0;
}
/*-- End Photo Gallery CSS --*/